@font-face {
    font-family: 'GyeonggiMillenniumTitle';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2410-3@1.0/TitleV.woff') format('woff');
    font-weight: 800;
    font-display: swap;
}
body{
  margin: 0;
  padding: 0;
}
.container{
  background-color: #fff;
  min-height: 100vh;
}
.todo_list{
  position: absolute;
  left:50%;
  top: 10%;
  bottom: 10%;
  transform: translateX(-50%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
h1{
  font-family: 'GyeonggiMillenniumTitle';
  text-align: center;
  margin: 30px;
}
/*입력창*/
.input-area{
 display: flex;
 margin-bottom: 10px;
}
#task-input{
  width:100%;
  padding: 10px;
  margin-right: -6px;
  border:none;
  background-color: #eee;
  border-radius: 10px 0 0 10px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #ddd;
}
#task-input:hover{
  border: 1px solid #ccc9c9;
}
#task-input::placeholder{
  font-style: italic;
  opacity: 1;
  transition: .3s;
}
#task-input:focus::placeholder{
  opacity: 0;
  visibility: hidden;
}
#add-button{
  padding: 5px 20px;
  border:1px solid rgb(231, 68, 68);
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  background-color: rgb(231, 68, 68);
  color: #fff;
  font-size: 30px;
  box-sizing: border-box;
  outline: none;
}
#add-button:hover{
 background-color: rgb(27, 205, 169);
 border:1px solid rgb(27, 205, 169);
}
/*할일리스트*/
.tasks-area{

}
.tasks-tabs{
  display: flex;
  border:1px solid lightgray; 
   position: relative;
 }
 .tasks-tabs div{
  padding:1em;
 }
 #underline{
  height: 4px;
  background-color: pink;
  position:absolute;
  width: 80px;
  left:0;
  top:40px;
  padding: 0;
 }
#task-board{
  
  height: 400px;
}
 .task{
  display: flex;
  justify-content: space-between;
  padding: 1em;
  border: 1px solid #000;
 }
 .task-done{
  text-decoration: line-through;
 
 }
 .task-bg{
  background: aqua;

}
.add-btn{
width: 10px;
height: 10px;
border: 1px solid #fff;
}
 