.headline{
  margin-top: 1em;
  display: flex;
  justify-content: center;
}
.headline svg{
  width: 430px;
}
.menus{
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-top:1px solid #6d6c6c;
  border-bottom:4px double #000;
}
.menus button{
  border: none;
  background-color: none;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 3px;
}
.menus button:hover,
.menus button:active{
  background-color: beige;
}
.news-img-size{
  max-width: 100%;
  max-height: 250px;
}
.news{
  border-bottom: 2px solid #000;
}